# Dependencies
node_modules/

# Build output
dist/

# Test results
allure-results/
allure-report/
screenshots/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*
